In [2]:
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
import pandas as pd

In [5]:
df = pd.read_csv("salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [6]:
inputs = df.drop('salary_more_then_100k', axis='columns')
target = df['salary_more_then_100k']

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le_comp = LabelEncoder()
le_job = LabelEncoder()
le_deg = LabelEncoder()

In [14]:
inputs['company_n'] = le_comp.fit_transform(inputs['company'])
inputs['job_n'] = le_comp.fit_transform(inputs['job'])
inputs['degree_n'] = le_comp.fit_transform(inputs['degree'])
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [17]:
inputs_n = inputs.drop(['company', 'job', 'degree'], axis= 'columns')
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [18]:
from sklearn import tree

In [19]:
model = tree.DecisionTreeClassifier()

In [20]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [25]:
model.predict([[2,0,1]])

/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])

In [22]:
model.score(inputs_n, target)

1.0